.rateCardNumbers {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.rateCardNumbersSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  background-color: hsl(216, 21%, 19%);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.rateCardNumbersSpan:hover {
  background-color: hsl(25, 97%, 53%);
  color: black;
}

.rateCardNumbersSpan.selected {
  background-color: white;
  color: black;
}
